bs4 
requests
Scrapy
python-dotenv

# for data extraction and validation
playwright
pydantic

# for api creation
fastapi
gunicorn
huggingface_hub
langchain
langchain_community
langchain-huggingface
pandas
pydantic[email]
pypdf
chromadb

uvicorn 
python-multipart
sentence-transformers
groq
starlette